<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BinanceApiKey" value="HrJN2ZXyjZEet4VSgbBtzA6RUm3HQph3HcUkITCGWqpppQyWJ1GG5tHV0sNHsMRK" />
    <add key="BinanceApiSecret" value="jyBXqXZGPxTpjmDhun5jvdcz5g8egWN2RKwlqIz41ai0MxljKHzT3dNz54zJAAZb" />
    <add key="Bitrex" value="4aaff6a0015d43fb828d9907c304fb2e" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>